<header class="navbar navbar-defult">
  <div class="container-fluid">
    <div class="navbar-header">

     <%= link_to "BLOG", root_path, id: 'logo'  %>
      
       </div>

      <ul class="nav navbar-nav navbar-right">


		<% if signed_in? %>
			<li><%= link_to 'Salir',  logout_path, method: 'delete' %></li>
		<% else %>
	         <li><%= link_to 'Registrarse', signup_path %></li>
	         <li><%= link_to 'Ingresar', login_path %></li> 
         <% end %>
      
      </ul>
   
  </div>
</header>

