<header class="navbar navbar-defult">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="#"> BLOG</a>
      
       </div>

      <ul class="nav navbar-nav navbar-right">
         <li><%= link_to 'Registrarse', '#' %></li>
         <li><%= link_to 'Ingresar', '#'%></li>       
      </ul>
   
  </div>
</header>

